.Header {
  color: var(--text-secondary) !important;
  background-image: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
  box-shadow: 5px 0px 10px 5px #888888 !important;
}
.ptsNav {
  font-family: 'Acme', sans-serif !important;
  font-size: 1.7rem !important;
}
.link {
  text-decoration: none;
  color: var(--text-primary);
}
.profileImg {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
